@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* BASIC FORMATTING */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

body {
  font-family: Poppins;
  font-size: 1.125rem;
  color: black;
  background-color: #063270;
  margin: 0;
  padding: 0;
}

main {
  background-color: white;
  text-align: center;
  border-bottom: 5px solid #ffd034;
  border-top: 5px solid #ffd034;
}
header {
  color: white;
  text-transform: uppercase;
  font-weight: normal;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  /*   gap: 1rem; */
}
h1 {
  font-weight: 300;
  font-size: 3rem;
  display: inline-block;
  /*   font-size: 3rem; */
}
h2 {
  font-weight: 300;
  font-size: 2.5rem;
}
/* h3 {
  font-weight: 300;
  font-size: 1.75rem;
} */
nav ul {
  list-style-type: none;
  padding: 1rem;
  margin: 0;
  display: flex;
  gap: 1rem;
  flex-flow: row wrap;
  justify-content: center;
}
footer {
  color: white;
  text-align: center;
}
.button {
  display: inline-block;
  padding: 0.5rem;
  border-radius: 5px;
  text-decoration: none;
  background-color: #06327d;
  color: white;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.main-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  text-align: left;
  gap: 2rem;
}
.main-card .button {
  background-color: #209d5c;
}
/* .blue-card {
  background-color: #cadbf8;
  padding: 1rem;
} */

p {
  margin: 0;
}
a {
  color: white;
  text-decoration: none;
}
.grid-container {
  text-align: left;
  display: grid;
  grid-template-columns: 1fr;
  /*   gap: 1rem */
}
@media (min-width: 650px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
}
@media (min-width: 1000px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  header {
    justify-content: space-between;
  }
  .wrapper {
    margin: 3rem;
  }
}
